[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

slixmpp = "*"
msgpack-python = "*"
aiohttp = "*"
motor = "*"
sympy = "*"


[dev-packages]

jedi = "*"
rope = "*"
importmagic = "*"
"autopep8" = "*"
"flake8" = "*"
elpy = "*"