[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
slixmpp = "*"
msgpack-python = "*"
aiohttp = "~=3.4.4"
motor = "*"
sympy = "*"
arrow = "*"
msgpack = "*"

[dev-packages]
jedi = "*"
importmagic = "*"
"autopep8" = "*"
"flake8" = "*"
elpy = "*"
